* {
     margin: 0;
     padding: 0;
}

header {
     text-align: center;
     padding: 30px 0;
}

.add {
     padding: 5px 10px;
     margin-top: 20px;
     background-color: #555555;
     border: 1px solid #555555;
     color: #fff;
     border-radius: 5px;
     outline: none;
     cursor: pointer;
}

main {
     padding: 30px 30px;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 20px;
}

.plant-card {
     border: 1px solid #c4c2c2;
     border-radius: 5px;
     text-align: center;
     padding: 10px 0;
}

.plant-card h2 {
     border-bottom: 1px solid #c4c2c2;
     color: #5f5f5f;
     text-align: center;
     padding-bottom: 10px;
     letter-spacing: 1px;
}

.plant-card p {
     padding: 15px 10px;
     color: #35cc35;
}

.btn-wrapper .del-btn {
     border: 1px solid #555555;
     padding: 3px;
     border-radius: 5px;
     background-color: #555555;
     color: #fff;
     margin-left: 5px;
     outline: none;
     cursor: pointer;
}